import type { Tag } from '../utils/data-utils';
import { getTagObjects } from '../utils/data-utils';

interface Props {
    tags: string[];
    class?: string;
}

const { tags = [], class: className } = Astro.props;
const tagObjects = getTagObjects(tags, []);

<div class:list={['flex flex-wrap gap-2', className]}>
    {tagObjects.map((tag: Tag) => (
        <a
            href={`/tags/${tag.slug}`}
            class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium transition-all hover:opacity-80"
            style={`background-color: ${tag.color}20; color: ${tag.color};`}
        >
            {tag.name}
        </a>
    ))}
</div> 